@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Roboto:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
.head-section {
    display: flex;
    justify-content: space-between;
    padding: 2rem 11rem 1.5rem 11rem;
    background-color: #35424a;
    border-bottom: 3px solid rgba(255, 64, 0, 0.907);
}
.head-name h1{
    font-family: "Roboto", sans-serif;
    font-weight:400;
    font-style: normal; 
    font-size: 28px;
    color: white;
    letter-spacing: 2px;
}
.head-name-color {
    color: rgba(255, 64, 0, 0.907);
}
.ham-menu-cont {
    display: none;
}
.head-nav nav ul{
    display: flex;
    gap: 4rem;
    list-style-type: none;
}
.head-nav nav ul li {
    list-style-type: none;
    font-size: 21px;
    color: white;
    padding-top: 0.4rem;
}
.head-nav nav ul li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.head-nav nav ul .home a {
    color: rgba(255, 64, 0, 0.842);
}

.head-nav nav ul .home a:hover {
    color: white;
}
.responsive-head-nav{
    display: none;
}


/* Section-2 */
.sec-2{
    display:flex;
    justify-content: space-between;
    padding:1.5rem 9rem 1.5rem 9rem;
    background-color: #35424a;
 }
 .sec-head-heading h3{
    font-size:25px;
    color:white;
    letter-spacing:1px;
 }
.sec-head-search form{
    display: flex;
    gap:.5rem;
}
.sec-head-input input{
  padding:.5rem 2.5rem .5rem 2rem;
}
.sec-head-input input::placeholder{
    font-size:14px;
}
.sec-head-button button{
   padding:0.5rem 1.5rem;
   background-color:rgba(255, 64, 0, 0.842);
   color:white;
   border:none;
   font-size:15px;
}

 /* About-section */

.about-sec{
    display: flex;
    gap:2rem;
    margin:2rem 8rem 2rem 13rem;
}
.about-things{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.about-things-head h2{
    font-size:20px;
}
.about-things-p1{
    font-size:15px;
    line-height:1.4rem;
    font-family: "Roboto", sans-serif;
}
.about-things-p2{
    background-color: #35424a;
    padding: 1rem;
    color:white;
    font-size:15px;
    line-height:1.4rem;
}

.about-do{
    background-color: #35424a;
    color: white;
    margin:1.2rem 0rem 6rem 0rem;
}
.about-do-head h3{
    padding:2rem 0rem 1rem 1rem;
    font-size: 18px;
}
.about-do-p p{
    padding:.8rem .5rem 1.2rem 1rem;
    font-size:16px;
}

/* footer section */
.footer-sec{
    padding:3rem;
    text-align: center;
    align-items: center;
    background-color:rgba(255, 64, 0, 0.842);;
}
.footer-sec p{
    font-size:19px;
    color:white;
}


@media (max-width: 768px){
    .head-section{
        padding:1rem .5rem 1rem .5rem;
        position: relative;
    }
    .head-name h1{
        display: flex;
        padding:.5rem .7rem;
        gap:.3rem;
        font-size:16px
    }
    .head-nav nav ul{
        display: none;

    }
    .ham-menu-cont {
       padding:.4rem 1.3rem 0rem 0rem;
        display: block;
        cursor: pointer;
    }
    .ham-menu-cont img {
        width: 20px;
        height: 20px;
    }
    .responsive-head-nav {
        position: absolute;
        top: 10%;
        text-align: center;
        align-items: center;
        width: 100%;
        height:19%; 
        backdrop-filter: blur(8px);
        background-color: rgba(53, 66, 74, 0.5);
        display: none; 
        z-index: 999; 
    }
    
    /* Adjust the padding and other styles as needed */
    .responsive-head-nav ul {
        padding-top:.8rem;
        list-style: none;
    }
    
    .responsive-head-nav ul li {
        margin-bottom: 1rem;
    }
    
    .responsive-head-nav ul li a {
        font-family: "Roboto", sans-serif;
        color: white;
        text-decoration: none;
    }
    



        /* section-2 */
      .sec-2{
        flex-direction:column;
         padding:.3rem 1rem .5rem 1rem;
      }
      .sec-head-heading h3{
        font-size:18px;
        padding:1.3rem .4rem .5rem 1rem;
      }
      .sec-head-search form{
        flex-direction: column;
        gap:.5rem;
      }
      .sec-head-input input,
      .sec-head-button button{
        padding:.3rem .7rem;
        margin-left:1.1rem;
      }
      .sec-head-button button{
        margin-bottom:.5rem;
        font-size:14px;
      }

       .about-sec{
            flex-direction: column;
            margin:3rem 1.2rem .3rem 1.3rem;
       }
       .about-do{
        margin:1.2rem 0rem 2rem 0rem;
       }
         
          /* footer-sec */
      .footer-sec{
        padding:1.8rem;
      }
      .footer-sec p{
          font-size:16px;
      }
}